<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="CsvPath" value="..\..\..\Dataset\Input\smart_grid_dataset.csv" />
		<add key="WatchPath" value="..\..\..\Dataset\Input" />
		<add key="ArchivePath" value="..\..\..\Dataset\Archive" />
		<add key="OpenWeatherApiKey" value="a65c30433b90419ba7c3005c8445c4b5" />
		<add key="BaseAddress" value="http://localhost:5000" />
	</appSettings>

	<system.serviceModel>
		<services>

			<service name="Service.GridAnalysisService"
					 behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5000/api/grid" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="Contracts.Interfaces.IGridAnalysisService"
						  behaviorConfiguration="webBehavior" />
			</service>

			<service name="Service.WeatherService"
					 behaviorConfiguration="serviceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:5000/api/weather" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="webHttpBinding"
						  contract="Contracts.Interfaces.IWeatherService"
						  behaviorConfiguration="webBehavior" />
			</service>

		</services>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
</configuration>